<div class="card">
    <h2 class="title">Numero de Dispositius</h2>
    <hr/>
        <ngx-charts-bar-vertical
        [view]="view"
        [customColors]="colorScheme"
        [results]="dataChart"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [yAxisTicks]= "valueChart"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [xAxisLabel]="xAxisLabel"
        (select)="onSelect($event)"
        >
        </ngx-charts-bar-vertical>
</div>