<div class="card">
  <h2 class="title">Número d'incidències per departament</h2>
  <hr>
  <ngx-charts-bar-horizontal
    [view]="view"
    [results]="dataChart"
    [gradient]="gradient"
    [customColors]="colorScheme"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-bar-horizontal>
</div>
